.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.container h1 {
  margin-bottom: 60px;
  font-family: "Kalameh Bold";
  font-size: 28px;
  font-weight: 700;
}

.form {
  width: 460px;
  border-radius: 40px;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  text-align: center;
  padding: 40px 20px 20px 30px;
}

.form form {
  margin-top: 80px;
}

.form img {
  width: 52px;
  height: 52px;
  margin-bottom: 20px;
}

.form h2 {
  font-family: "Vazirmatn", sans-serif;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  color: #282828;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  height: 53px;
  border: none;
  border-radius: 15px;
  padding: 0 12px;
  font-size: 16px;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  background: #f2f2f2;
}
.form input:focus {
  outline: none;
}

.form button {
  margin-top: 40px;
  height: 53px;
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color: #55a3f0;
  color: #ffffff;
  font-size: 20px;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

.form a {
  display: block;
  font-family: "Vazirmatn", sans-serif;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #3a8bed;
  text-decoration: none;
  text-align: start;
}

.form p {
  color: red;
  text-align: start;
  margin-right: 5px;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 300;
}
