.container {
  transition: background-color 0.2s ease;
}

.container td {
  font-family: "Vazirmatn";
  font-weight: 400;
  font-size: 12px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.buttons button {
  background: none;
  border: none;
  cursor: pointer;
}

.buttons img {
  width: 20px;
  height: 20px;
}
